<section class="cards-section">
  <ul class="cards-list">
    <li class="cards-item">
      <div class="card-header">
        <span class="card-title-wrapper">
          <i class="fa-solid fa-paperclip"></i>
          <p class="card-title">
            Personal Tasks dhfhfhdhdfhdhfdhfhdhdfhdhdhdhdfhdfh
          </p>
        </span>
        <div class="card-toolbar">
          <div class="card-stats">1/2 completed</div>
          <button type="button" class="reset-all-tasks-btn">
            <i class="fa-solid fa-rotate-right"></i>
          </button>
          <button type="button" class="delete-card-btn">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>
      <form class="add-new-task-form">
        <input type="text" name="newTask" class="add-new-task-input" />
        <button type="submit" class="add-new-task-btn">+</button>
      </form>
      <ul class="tasks-list">
        <li class="task-item">First task</li>
      </ul>
    </li>
    <li class="cards-item">
      <div class="card-header">
        <span class="card-title-wrapper">
          <i class="fa-solid fa-paperclip"></i>
          <p class="card-title">Personal Tasks</p>
        </span>
        <div class="card-toolbar">
          <div class="card-stats">1/2 completed</div>
          <button type="button" class="reset-all-tasks-btn">
            <i class="fa-solid fa-rotate-right"></i>
          </button>
          <button type="button" class="delete-card-btn">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>
      <form class="add-new-task-form">
        <input type="text" name="newTask" class="add-new-task-input" />
        <button type="submit" class="add-new-task-btn">+</button>
      </form>
      <ul class="tasks-list">
        <li class="task-item">First task</li>
      </ul>
    </li>
  </ul>
</section>
