<section class="tasks">
  <ul class="task-tab-list">
    <li class="task-tab-item">All</li>
    <li class="task-tab-item">Today</li>
    <li class="task-tab-item">Tomorrow</li>
    <li class="task-tab-item">Custom</li>
    <li class="task-tab-item">Edit tabs</li>
  </ul>
  <div class="task-input">
    <div
      class="task-content"
      contenteditable="true"
      data-placeholder="Add new task..."
    ></div>
    <div class="task-date">
      <input type="date" />
    </div>
  </div>
  <ul class="task-list"></ul>
</section>
