<div class="weather-button glass-effect">
  <div class="icon-wrapper">
    <i class="icon fa-solid fa-cloud"></i>
    <i class="icon fa-solid fa-sun"></i>
  </div>
</div>
<div class="weather-widget glass-effect">
  <div class="today-weather-wrapper glass-effect">
    <div class="main-info">
      <svg class="test" width="80" height="80" aria-hidden="true">
        <use href="../img/sprite.svg#icon-sun-1"></use>
      </svg>
      <p>Tuesday, 11:56</p>
      <p>Cloudy, 10 stpni</p>
    </div>
    <div class="day-length">
      <p>4:53 am</p>
      <p>15 h 32 m</p>
      <p>8:13 pm</p>
    </div>
  </div>
  <div class="rain-probability">
    <p>Rain: 90%</p>
  </div>
  <div class="additional-info">
    <p>Humidity: 73%</p>
    <p>Wind: 10 km/h</p>
  </div>
  <ul class="forecast-list">
    <li class="forecast-item">
      <p>Today</p>
      <p>10 max</p>
      <p>1min</p>
    </li>
    <li class="forecast-item">
      <p>Wednesday</p>
      <p>10 max</p>
      <p>1min</p>
    </li>
    <li class="forecast-item">
      <p>Thursday</p>
      <p>10 max</p>
      <p>1min</p>
    </li>
    <li class="forecast-item">
      <p>Friday</p>
      <p>10 max</p>
      <p>1min</p>
    </li>
    <li class="forecast-item">
      <p>Satturday</p>
      <p>10 max</p>
      <p>1min</p>
    </li>
    <li class="forecast-item">
      <p>Sunday</p>
      <p>10 max</p>
      <p>1min</p>
    </li>
    <li class="forecast-item">
      <p>Monday</p>
      <p>10 max</p>
      <p>1min</p>
    </li>
  </ul>
</div>
