.add-new-list-section {
  display: flex;
  margin-bottom: 32px;
}

.new-list-form-wrapper {
  background-color: var(--card);
  padding: 16px;
  border: 1px solod var(--border);
  border-radius: 16px;
  width: 100%;
}

.add-new-list-form {
  width: 100%;
  display: flex;
  gap: 16px;
}

@media (min-width: 1440px) {
  .new-list-form-wrapper {
    width: 50%;
  }
}
