.add-new-list-section {
  display: flex;
  margin-bottom: 32px;
}

.add-new-list-form {
  width: 50%;
  min-width: 300px;
  display: flex;

  gap: 16px;
}

.add-new-list-input {
  flex: 1;

  min-height: 40px;
  padding: 8px;

  border-radius: 8px;
  border: 1px solid var(--border);
  outline: none;

  font-size: 12px;
  line-height: 1.5;

  transition: var(--transition-smooth);
}

.add-new-list-input::placeholder {
  color: var(--muted-foreground);
}

.add-new-list-input:focus {
  border: 2px solid var(--ring);
}

.add-new-list-btn {
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;

  background: var(--gradient-primary);
  color: var(--primary-foreground);

  font-size: 14px;
  font-weight: 600;

  display: inline-flex;
  align-items: center;
  gap: 8px;

  transition: var(--transition-smooth);

  &:hover,
  &:focus {
    opacity: 0.9;
  }
}
