:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-background: linear-gradient(180deg, #d1c6f3 0%, #e9bcac 100%);
  --color-box-background: #ffffff;
  --color-text: #121212;
  --color-accent: linear-gradient(180deg, #d1c6f3 0%, #e9bcac 100%);
  --color-light-grey: #e6e6e6;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

main .container {
  display: flex;
  gap: 24px;
}
