.header {
  padding-top: 20px;
  margin-bottom: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-logo {
  display: inline-block;
  padding-right: 4px;

  font-weight: 900;
  font-size: 32px;
  letter-spacing: -0.15em;

  background: var(--gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-stats {
  color: var(--muted-foreground);
  font-size: 12px;
}

.theme-toggle-btn {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background);
  outline: none;
  border: 1px solid var(--input);
  border-radius: 8px;

  transition: var(--transition-smooth);

  &:hover,
  &:focus {
    color: var(--accent-foreground);
    background-color: var(--accent);
  }
}

@media only screen and (min-width: 768px) {
  .nav-stats {
    font-size: 14px;
  }
}
