.sidebar {
  flex-basis: 300px;
}

.widget-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.greetings {
  padding: 24px;
  border-radius: 16px;
  background: var(--color-box-background);
}
