.glass-effect {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.weather-button {
  position: fixed;
  bottom: 64px;
  right: 16px;

  width: 40px;
  height: 40px;

  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: var(--transition-smooth);

  &:focus,
  &:hover {
    opacity: 0.9;
  }

  /* &:hover .fa-sun,
  &:focus .fa-sun {
    opacity: 0;
    pointer-events: none;
  }

  &:focus .fa-cloud,
  &:hover .fa-cloud {
    opacity: 1;
  } */

  /* &:hover + .weather-widget,
  &:focus + .weather-widget {
    opacity: 1;
    visibility: visible;
  } */
}

.icon-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-cloud {
  color: var(--white);
  box-shadow: var(--shadow-card);
  transition: var(--transition-smooth);
  opacity: 0;
  visibility: hidden;
}

.fa-sun {
  color: var(--yellow);
  box-shadow: var(--shadow-card);
  transition: var(--transition-smooth);
}

.weather-widget {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 16px;

  transition: var(--transition-smooth);

  opacity: 0;
  visibility: hidden;

  position: fixed;
  bottom: 112px;
  right: 16px;
  width: calc(100% - 32px);
  min-width: 288px;
  max-width: 348px;

  border-radius: 42px;
}

.opened {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.today-weather-wrapper {
  border-radius: 38px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.today-weather-info {
  display: flex;
  gap: 16px;
}

.today-weather-data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.weather-text {
  color: var(--foreground);
  font-size: 12px;
}

.weather-bright-text {
  font-size: 12px;
  color: var(--bright-foreground);
}

.bold-text {
  font-weight: 600;
}

.today-weather {
  font-size: 22px;
}

.sun-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;

  border-radius: 24px;
  background: var(--gradient-primary-semi-transparent);
}

.sun-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.sun-icon {
  fill: var(--bright-foreground);
}

.rain-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  padding: 8px 16px;
  border-radius: 24px;
}

.additional-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.forecast-list {
  display: flex;
  justify-content: space-between;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: calc((100% - 24px) / 7);

  padding: 8px 8px;
  border-radius: 24px;
}

.forecast-item:first-child {
  font-weight: 600;
}

.day-of-week-text {
  font-size: 10px;
}

@media (min-width: 768px) {
  .weather-button,
  .weather-widget {
    right: 32px;
  }
}
